.main_form {
    width: 100%;
    margin: 150px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_label {
    display: inline-block;
    margin-right: 10px;
}

.main_submit {
    margin-top: 20px;
    display: block;
    width: 100px;
}