.nav {
    width: 100%;

    background-color: #eaeaea;
    border-bottom: 4px solid #a2a2a2;

    margin-bottom: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.normal, .green-span, .red-span, .yellow-span {
    padding: 10px;
    border-radius: 3px;
}

.normal {
    background: cornflowerblue;
    color: #e8e8e8;
}

.green-span {
    background: darkslategrey;
    color: #e8e8e8;
}

.red-span {
    background: brown;
    color: #e8e8e8;
}

.yellow-span {
    background: coral;
    color: #e8e8e8;
}